.employees {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
.user {
  &-filter {
    display: flex;
    margin-bottom: 25px;
    background-color: #fafafa;
    &-inner {
      padding: 15px;
    }
  }
  &-list, &-filter {
   width: 50%;
  }
  &-item {
    display: flex;
    padding: 15px;
    &-name, &-role, &-phone {
      flex: 1;
    }
  }
}