.employees {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center; }

.user-filter {
  display: flex;
  margin-bottom: 25px;
  background-color: #fafafa; }
  .user-filter-inner {
    padding: 15px; }

.user-list, .user-filter {
  width: 50%; }

.user-item {
  display: flex;
  padding: 15px; }
  .user-item-name, .user-item-role, .user-item-phone {
    flex: 1; }
